.menu {
  display: flex;

  justify-content: flex-start;
  align-items: center;
  &__item {
    font-size: 14px;
    line-height: 1;

    position: relative;

    display: block;

    padding-top: 12px;
    padding-right: 20px;
    padding-bottom: 12px;
    padding-left: 40px;

    text-decoration: none;
    text-transform: uppercase;

    color: $white;
    border-right: 1px solid #4c5563;
    &:hover {
      cursor: pointer;

      background-color: #4c5768;
    }
    &:before {
      left: 18px;

      color: #97a0ad;

      @include vertical-center;
      @extend .fa;
    }
    span {
      font-family: 'Lato-Bold';
      font-size: 12px;
      line-height: 19px;

      right: 18px;

      display: block;

      width: 19px;
      height: 19px;

      text-align: center;

      border-radius: 50%;
      background-color: $green;

      @include vertical-center;
    }
    &._active {
      background-color: #3c4553;
    }
    &._news {
      &:before {
        @extend .fa-calendar;
      }
    }
    &._tasks {
      &:before {
        @extend .fa-th-list;
      }
    }
    &._finance {
      &:before {
        @extend .fa-rub;
      }
    }
    &._tickets {
      padding-right: 55px;
      &:before {
        @extend .fa-comment;
      }
    }
    &._profile {
      &:before {
        @extend .fa-cog;
      }
    }
    &._rules {
      &:before {
        @extend .fa-info-circle;
      }
    }
    &._users {
      &:before {
        @extend .fa-users;
      }
    }
  }
}
