mixin menu-user(data)
  .menu
    a(href="#" title="").menu__item._news._active новости
    a(href="#" title="").menu__item._tasks задания
    a(href="#" title="").menu__item._finance Финансы
    a(href="#" title="").menu__item._tickets тикеты
      span 5
    a(href="#" title="").menu__item._profile профиль
    a(href="#" title="").menu__item._rules Правила