mixin modal-registration(data)
  .modal.modal-registration#modal-registration
    .modal__close 
    .modal__title Регистрация 

    form().modal-form
      .modal-form__row
        .modal-form__column._left
          .modal-form__label Как Вас зовут?
        .modal-form__column._right
          input(type="text" value="").form-field

      .modal-form__row
        .modal-form__column._left
          .modal-form__label Ваш E-mail
        .modal-form__column._right
          input(type="email" value="").form-field

      .modal-form__row
        .modal-form__column._left
          .modal-form__label Ваш Skype
        .modal-form__column._right
          input(type="text" value="").form-field

      .modal-form__row
        .modal-form__column._left
          .modal-form__label Кошелёк WMR
        .modal-form__column._right
          input(type="text" value="").form-field

      .modal-form__row
        .modal-form__column._left
          .modal-form__label Придумайте пароль
        .modal-form__column._right
          input(type="password" value="").form-field

      .modal-form__row
        .modal-form__column._left
          .modal-form__label Повторите Пароль
        .modal-form__column._right
          input(type="password" value="").form-field
      
      input(type="submit" value="продолжить").modal-form__submit

mixin modal-enter(data)
  .modal.modal-enter#modal-enter
    form().modal-form
      .modal-form__field._email
        input(type="email" value="" placeholder="Ваш email").form-field
      .modal-form__field._password
        input(type="password" value="" placeholder="Ваш пароль").form-field
      .modal-form__row
        label.modal-form__field._checkbox
          input(type="checkbox" value="").form-checkbox
          span Запомнить меня
        a(href="#" title="" data-modal="#modal-lost").modal-form__lost-pass Забыли пароль?
      input(type="submit" value="Войти").modal-form__submit._enter

mixin modal-lost(data)
  .modal.modal-lost-password#modal-lost
    .modal__close
    .modal__title Восстановить пароль

    form().modal-form
      .modal-form__field._lost
        input(type="text" value="" placeholder="Введите вашу почту").form-field

    input(type="submit" value="Восстановить").modal-form__submit