mixin modal-registration(data)
  .modal.modal-registration#modal-registration
    .modal__close 
    .modal__title Регистрация 

    form().modal-form
      .modal-form__row
        .modal-form__column._left
          .modal-form__label Как Вас зовут?
        .modal-form__column._right
          input(type="text" value="").form-field

      .modal-form__row
        .modal-form__column._left
          .modal-form__label Ваш E-mail
        .modal-form__column._right
          input(type="email" value="").form-field

      .modal-form__row
        .modal-form__column._left
          .modal-form__label Ваш Skype
        .modal-form__column._right
          input(type="text" value="").form-field

      .modal-form__row
        .modal-form__column._left
          .modal-form__label Кошелёк WMR
        .modal-form__column._right
          input(type="text" value="").form-field

      .modal-form__row
        .modal-form__column._left
          .modal-form__label Придумайте пароль
        .modal-form__column._right
          input(type="password" value="").form-field

      .modal-form__row
        .modal-form__column._left
          .modal-form__label Повторите Пароль
        .modal-form__column._right
          input(type="password" value="").form-field
      
      input(type="submit" value="продолжить").modal-form__submit

mixin modal-enter(data)
  .modal.modal-enter#modal-enter
    form().modal-form
      .modal-form__field._email
        input(type="email" value="" placeholder="Ваш email").form-field
      .modal-form__field._password
        input(type="password" value="" placeholder="Ваш пароль").form-field
      .modal-form__row
        label.modal-form__field._checkbox
          input(type="checkbox" value="").form-checkbox
          span Запомнить меня
        a(href="#" title="" data-modal="#modal-lost").modal-form__lost-pass Забыли пароль?
      input(type="submit" value="Войти").modal-form__submit._enter

mixin modal-lost(data)
  .modal.modal-lost-password#modal-lost
    .modal__close
    .modal__title Восстановить пароль

    form().modal-form
      .modal-form__field._lost
        input(type="text" value="" placeholder="Введите вашу почту").form-field

    input(type="submit" value="Восстановить").modal-form__submit

mixin modal-take-task()
  .modal.modal-take-task#modal-take-task
    .modal__close

    .modal-take-task__wrapper
      .modal-take-task__column
        .modal-take-task__subtitle Основной ключ
        .modal-take-task__title Акт освидетельствования геодезической разбивочной основы

        .modal-take-task-info
          .modal-take-task-info__left объем статьи: 
            span.blue 8500 - 9500
          .modal-take-task-info__right Цена статьи: 
            span.green 664Р

        .modal-take-task__subtitle для структуры статьи используйте эти сайты

        a(href="#" title="" target="_blank").modal-take-task__link Ссылка на сайт №1
        a(href="#" title="" target="_blank").modal-take-task__link Ссылка на сайт №2
        a(href="#" title="" target="_blank").modal-take-task__link Ссылка на сайт №3
        a(href="#" title="" target="_blank").modal-take-task__link Ссылка на сайт №4
        a(href="#" title="" target="_blank").modal-take-task__link Ссылка на сайт №5

        a(href="#" title="").modal-take-task__submit Взять задание

      .modal-take-task__column
        .modal-take-task__subtitle Ключевые слова

        .modal-take-task__keywords-list
          ul
            li самодельная стойка для дрели
            li держатель для дрели своими руками
            li сверлильная стойка для дрели своими руками
            li как сделать стойку для дрели
            li стойка / стойкий
            li дрель
            li свой
            li рука
            li чертеж
            li чертеж
            li самодельная стойка для дрели
            li держатель для дрели своими руками
            li сверлильная стойка для дрели своими руками
            li как сделать стойку для дрели
            li стойка / стойкий
            li дрель
            li свой
            li рука
            li чертеж
            li чертеж
            li сверлильная стойка для дрели своими руками
            li как сделать стойку для дрели
            li стойка / стойкий
            li дрель
            li свой
            li рука
            li чертеж
            li чертеж