mixin modal-registration(data)
  .modal.modal-registration#modal-registration
    .modal__close 
    .modal__title Регистрация 

    form().modal-form
      .modal-form__row
        .modal-form__column._left
          .modal-form__label Как Вас зовут?
        .modal-form__column._right
          input(type="text" value="").form-field

      .modal-form__row
        .modal-form__column._left
          .modal-form__label Ваш E-mail
        .modal-form__column._right
          input(type="email" value="").form-field

      .modal-form__row
        .modal-form__column._left
          .modal-form__label Ваш Skype
        .modal-form__column._right
          input(type="text" value="").form-field

      .modal-form__row
        .modal-form__column._left
          .modal-form__label Кошелёк WMR
        .modal-form__column._right
          input(type="text" value="").form-field

      .modal-form__row
        .modal-form__column._left
          .modal-form__label Придумайте пароль
        .modal-form__column._right
          input(type="password" value="").form-field

      .modal-form__row
        .modal-form__column._left
          .modal-form__label Повторите Пароль
        .modal-form__column._right
          input(type="password" value="").form-field
      
      input(type="submit" value="продолжить").modal-form__submit

mixin modal-enter(data)
  .modal.modal-enter#modal-enter
    form().modal-form
      .modal-form__field._email
        input(type="email" value="" placeholder="Ваш email").form-field
      .modal-form__field._password
        input(type="password" value="" placeholder="Ваш пароль").form-field
      .modal-form__row
        label.modal-form__field._checkbox
          input(type="checkbox" value="").form-checkbox
          span Запомнить меня
        a(href="#" title="" data-modal="#modal-lost").modal-form__lost-pass Забыли пароль?
      input(type="submit" value="Войти").modal-form__submit._enter

mixin modal-lost(data)
  .modal.modal-lost-password#modal-lost
    .modal__close
    .modal__title Восстановить пароль

    form().modal-form
      .modal-form__field._lost
        input(type="text" value="" placeholder="Введите вашу почту").form-field

    input(type="submit" value="Восстановить").modal-form__submit

mixin modal-view-published()
  .modal.modal-view-published#modal-view-published
    .modal__close

    .modal-view-published__wrapper
      .modal-view-published__column._left
        .modal-view-published__meta Основной ключ
          span ID: 3456

        .modal-view-published__title Акт освидетельствования геодезических работ
          span 3

        .modal-view-published-info
          .modal-view-published-info__left объем статьи: 
            span.blue 8500 - 9500
          .modal-view-published-info__right Цена статьи: 
            span.green 664Р

        .modal-view-published__subtitle для структуры статьи используйте эти сайты

        a(href="#" title="" target="_blank").modal-view-published__link Ссылка на сайт №1
        a(href="#" title="" target="_blank").modal-view-published__link Ссылка на сайт №2
        a(href="#" title="" target="_blank").modal-view-published__link Ссылка на сайт №3
        a(href="#" title="" target="_blank").modal-view-published__link Ссылка на сайт №4
        a(href="#" title="" target="_blank").modal-view-published__link Ссылка на сайт №5

        .modal-view-published__subtitle Ключевые слова

        .modal-view-published__keywords-list
          ul
            li самодельная стойка для дрели
              span 54
            li держатель для дрели своими руками
              span 54
            li сверлильная стойка для дрели своими руками
              span 54
            li как сделать стойку для дрели
              span 54
            li стойка / стойкий
              span 54
            li дрель
              span 54
            li свой
              span 54
            li рука
              span 54
            li чертеж
              span 54
            li чертеж
              span 54
            li самодельная стойка для дрели
              span 54
            li держатель для дрели своими руками
              span 54
            li сверлильная стойка для дрели своими руками
              span 54
            li как сделать стойку для дрели
              span 54
            li стойка / стойкий
              span 54
            li дрель
              span 54
            li свой
              span 54
            li рука
              span 54
            li чертеж
              span 54
            li чертеж
              span 54

      .modal-view-published__column._right
        .modal-view-published-user
          .modal-view-published-user__type Копирайтер
          .modal-view-published-user__name Иван Иванов
          .modal-view-published-user__meta
            ul
              li Начало: 15.05.2017
              li Закончено: 15.05.2017
              li Время потрачено: 1д 10ч
              li Доработки: 5

        .modal-view-published-user
          .modal-view-published-user__type Редактор
          .modal-view-published-user__name Иван Иванов
          .modal-view-published-user__meta
            ul
              li Начало: 15.05.2017
              li Закончено: 15.05.2017
              li Символов проверено: 8500
              li Время потрачено: 1д 10ч
              li Получено: <span class="bold">664Р</span>

        .modal-view-published-user
          .modal-view-published-user__type Постер
          .modal-view-published-user__name Иван Иванов
          .modal-view-published-user__meta
            ul
              li Начало: 15.05.2017
              li Закончено: 15.05.2017
              li Время потрачено: 1д 10ч
              li Получено: <span class="bold">664Р</span>

        .modal-view-published-user._all
          .modal-view-published-user__type Итого
          .modal-view-published-user__meta
            ul
              li Начало: <span class="bold">15.05.2017</span>
              li Закончено: <span class="bold">15.05.2017</span>
              li Время потрачено: <span class="bold">1д 10ч</span>
              li Общая стоимость: <span class="bold">6 664Р</span>
