// GUI stylies of the project
// For example, styles of the links, buttons and so on.

.wrapper {
  position: relative;

  width: 100%;
  min-width: 1024px;
  max-width: 1244px;
  margin: auto;
}

.content {
  flex: 1 0 auto;
}

a {
  text-decoration: none;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;

  color: $mako;

  font-size: 35px;
  font-weight: normal;
}

.subtitle {
  text-transform: uppercase;

  color: $mako;

  font-family: "Lato-Bold";
  font-size: 14px;
}

.white-plask {
  background-color: $white;
  box-shadow: 0 0 5px rgba($black, .1);
}

.button {
  position: relative;

  display: inline-block;

  vertical-align: middle;
  text-decoration: none;
  text-transform: uppercase;

  color: $light-blue;
  border: 0;

  font-size: 12px;
  &._green {
    color: $white;
    background-color: $green;
    &:hover {
      cursor: pointer;

      color: $white;
      background-color: $green + #111;
    }
  }
  &._blue {
    border: 1px solid $light-blue;
    background-color: $white;
    &:hover {
      cursor: pointer;

      color: $white;
      background-color: $light-blue;
    }
  }
  &._create {
    position: absolute;
    top: 5px;
    right: 0;

    padding: 8px 20px 8px 32px;
    &:before {
      position: absolute;
      left: 10px;

      @extend .fa;
      @extend .fa-comment;
      @include vertical-center;
    }
  }
  &._back {
    position: relative;

    width: 35px;
    height: 35px;

    border: 1px solid $light-blue;
    background-color: $white;

    font-size: 18px;
    &:before {
      @extend .fa;
      @extend .fa-arrow-left;
      @include absolute-center;
    }
    &:hover {
      color: $white;
      background-color: $light-blue;
    }
  }
  &._plus {
    position: relative;

    width: 35px;
    height: 35px;

    border: 1px solid $light-blue;
    background-color: $white;

    font-size: 18px;
    &:before {
      @extend .fa;
      @extend .fa-plus;
      @include absolute-center;
    }
    &:hover {
      color: $white;
      background-color: $light-blue;
    }
  }
  &._answer {
    padding: 5px 10px 5px 28px;
    &:before {
      position: absolute;
      left: 10px;

      font-size: 14px;

      @extend .fa;
      @extend .fa-pencil;
    }
  }
  &._drop {
    margin-left: 10px;
    padding: 3px 5px 2px;
    &:before {
      font-size: 15px;

      @extend .fa;
      @extend .fa-trash-o;
    }
  }
  &._redact {
    padding: 3px 5px 2px;
    &:before {
      font-size: 15px;

      @extend .fa;
      @extend .fa-pencil;
    }
  }
  &._send {
    padding: 5px 10px 5px 28px;
    &:before {
      position: absolute;
      left: 10px;

      font-size: 14px;

      @extend .fa;
      @extend .fa-paper-plane;
    }
  }
  &._close {
    padding: 5px 10px 5px 28px;
    &:before {
      position: absolute;
      left: 10px;

      font-size: 14px;

      @extend .fa;
      @extend .fa-lock;
    }
  }
  &._delete {
    padding: 5px 10px 5px 28px;
    &:before {
      position: absolute;
      left: 10px;

      font-size: 14px;

      @extend .fa;
      @extend .fa-trash-o;
    }
  }
  &._balance {
    display: block;

    width: 170px;
    height: 33px;

    text-align: center;
    text-transform: uppercase;

    color: $green;
    background-color: $white;

    line-height: 33px;
    &:hover {
      color: $green - #111;
    }
  }
  &._view {
    position: relative;

    padding: 5px 15px 5px 28px;
    &:before {
      position: absolute;
      left: 10px;

      font-size: 14px;

      @extend .fa;
      @extend .fa-file-text-o;
    }
  }
  &._take {
    position: relative;

    padding: 5px 15px 5px 28px;
    &:before {
      position: absolute;
      left: 10px;

      font-size: 14px;

      @extend .fa;
      @extend .fa-check;
    }
  }
  &._link {
    position: relative;

    display: block;

    width: 30px;
    height: 30px;
    margin: auto;

    text-align: center;

    line-height: 35px;
    &:before {
      color: $light-blue;

      font-size: 18px;

      @extend .fa;
      @extend .fa-link;
    }
    &:hover {
      &:before {
        color: $white;
      }
    }
  }
  &._add {
    position: relative;

    height: 30px;
    padding-right: 10px;
    padding-left: 25px;

    line-height: 30px;
    &:before {
      position: absolute;
      left: 9px;

      @extend .fa;
      @extend .fa-plus-circle;
      @include vertical-center;
    }
  }
  &._solid-blue {
    padding: 4px 10px;

    color: $white;
    background-color: $vlight-blue;

    font-size: 10px;
    &:hover {
      background-color: $vlight-blue + #111;
    }
  }
  &._solid-arrow {
    padding: 4px 10px;

    color: $white;
    background-color: $vlight-blue;

    font-size: 12px;

    @extend .fa;
    @extend .fa-arrow-right;
    &:hover {
      background-color: $vlight-blue + #111;
    }
  }
}

.table {
  width: 100%;
  thead {
    tr {
      th {
        padding: 10px 25px 10px 0;

        text-align: left;

        background-color: $geyser;

        font-size: 14px;
        &:first-child {
          padding-left: 25px;
        }
        &._center {
          text-align: center;
        }
        &._checkbox {
          .form-checkbox {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  tbody {
    border: 1px solid #e1e6eb;
    background-color: $white;
    tr {
      border-bottom: 1px solid #e1e6eb;
      td {
        padding: 10px 25px 10px 0;

        vertical-align: top;

        font-size: 14px;
        &:first-child {
          padding-left: 25px;
        }
        a {
          color: $blue;
        }
        &._center {
          text-align: center;
        }
        &._checkbox {
          .form-checkbox {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.green {
  color: $green;
}

.blue {
  color: $light-blue;
}

.bold {
  white-space: nowrap;

  font-family: "Lato-Bold";
}

.red {
  white-space: nowrap;

  color: red;

  font-family: "Lato-Bold";
}

.light {
  display: block;

  font-size: 13px;
}

.status {
  position: relative;

  padding-left: 15px;
  &:before {
    left: 0;

    width: 8px;
    height: 8px;

    content: "";

    border-radius: 50%;

    @include vertical-center;
  }
  &._active {
    &:before {
      background-color: $green;
    }
  }
  &._banned {
    &:before {
      background-color: red;
    }
  }
}

.rowed-button-title {
  display: flex;

  margin-top: 20px;
  margin-bottom: 30px;

  align-items: center;
  justify-content: flex-start;
  .button {
    margin-right: 20px;
  }
  h1 {
    margin-bottom: 0;
    span {
      color: $blue;
    }
  }
}
