// GUI stylies of the project
// For example, styles of the links, buttons and so on.

.wrapper {
  position: relative;

  width: 100%;
  min-width: 1024px;
  max-width: 1244px;
  margin: auto;
}

.content {
  flex: 1 0 auto;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 35px;
  font-weight: normal;

  margin-top: 0;
  margin-bottom: 20px;

  color: $mako;
}

.subtitle {
  font-family: 'Lato-Bold';
  font-size: 14px;

  text-transform: uppercase;

  color: $mako;
}

.white-plask {
  background-color: $white;
  box-shadow: 0 0 5px rgba($black, .1);
}

.button {
  font-size: 12px;

  position: relative;

  display: inline-block;

  vertical-align: middle;
  text-decoration: none;
  text-transform: uppercase;

  color: $light-blue;
  border: 0;
  &._green {
    color: $white;
    background-color: $green;
    &:hover {
      cursor: pointer;

      color: $white;
      background-color: $green + #111;
    }
  }
  &._blue {
    border: 1px solid $light-blue;
    background-color: $white;
    &:hover {
      cursor: pointer;

      color: $white;
      background-color: $light-blue;
    }
  }
  &._create {
    position: absolute;
    top: 5px;
    right: 0;

    padding: 8px 20px 8px 32px;
    &:before {
      position: absolute;
      left: 10px;

      @include vertical-center;
      @extend .fa;
      @extend .fa-comment;
    }
  }
  &._back {
    font-size: 18px;

    position: relative;

    width: 35px;
    height: 35px;

    border: 1px solid $light-blue;
    background-color: $white;
    &:before {
      @include absolute-center;
      @extend .fa;
      @extend .fa-arrow-left;
    }
    &:hover {
      color: $white;
      background-color: $light-blue;
    }
  }
  &._answer {
    padding: 5px 10px 5px 28px;
    &:before {
      font-size: 14px;

      position: absolute;
      left: 10px;

      @extend .fa;
      @extend .fa-pencil;
    }
  }
  &._drop {
    margin-left: 10px;
    padding: 3px 5px 2px;
    &:before {
      font-size: 15px;

      @extend .fa;
      @extend .fa-trash-o;
    }
  }
  &._redact {
    padding: 3px 5px 2px;
    &:before {
      font-size: 15px;

      @extend .fa;
      @extend .fa-pencil;
    }
  }
  &._send {
    padding: 5px 10px 5px 28px;
    &:before {
      font-size: 14px;

      position: absolute;
      left: 10px;

      @extend .fa;
      @extend .fa-paper-plane;
    }
  }
  &._close {
    padding: 5px 10px 5px 28px;
    &:before {
      font-size: 14px;

      position: absolute;
      left: 10px;

      @extend .fa;
      @extend .fa-lock;
    }
  }
  &._delete {
    padding: 5px 10px 5px 28px;
    &:before {
      font-size: 14px;

      position: absolute;
      left: 10px;

      @extend .fa;
      @extend .fa-trash-o;
    }
  }
  &._balance {
    line-height: 33px;

    display: block;

    width: 170px;
    height: 33px;

    text-align: center;
    text-transform: uppercase;

    color: $green;
    background-color: $white;
    &:hover {
      color: $green - #111;
    }
  }
  &._view {
    position: relative;

    padding: 5px 15px 5px 28px;
    &:before {
      font-size: 14px;

      position: absolute;
      left: 10px;

      @extend .fa;
      @extend .fa-file-text-o;
    }
  }
  &._take {
    position: relative;

    padding: 5px 15px 5px 28px;
    &:before {
      font-size: 14px;

      position: absolute;
      left: 10px;

      @extend .fa;
      @extend .fa-check;
    }
  }
  &._link {
    line-height: 35px;

    position: relative;

    display: block;

    width: 30px;
    height: 30px;
    margin: auto;

    text-align: center;
    &:before {
      font-size: 18px;

      color: $light-blue;

      @extend .fa;
      @extend .fa-link;
    }
    &:hover {
      &:before {
        color: $white;
      }
    }
  }
  &._add {
    line-height: 30px;

    position: relative;

    height: 30px;
    padding-right: 10px;
    padding-left: 25px;
    &:before {
      position: absolute;
      left: 9px;

      @extend .fa;
      @extend .fa-plus-circle;
      @include vertical-center;
    }
  }
}

.table {
  width: 100%;
  thead {
    tr {
      th {
        font-size: 14px;

        padding: 10px 25px 10px 0;

        text-align: left;

        background-color: $geyser;
        &:first-child {
          padding-left: 25px;
        }
        &._center {
          text-align: center;
        }
      }
    }
  }
  tbody {
    border: 1px solid #e1e6eb;
    background-color: $white;
    tr {
      border-bottom: 1px solid #e1e6eb;
      td {
        font-size: 14px;

        padding: 10px 25px 10px 0;

        vertical-align: top;
        &:first-child {
          padding-left: 25px;
        }
        a {
          color: $blue;
        }
        &._center {
          text-align: center;
        }
      }
    }
  }
}

.green {
  color: $green;
}
.blue {
  color: $light-blue;
}
.bold {
  font-family: 'Lato-Bold';

  white-space: nowrap;
}
.red {
  font-family: 'Lato-Bold';

  white-space: nowrap;

  color: red;
}
.light {
  font-size: 13px;

  display: block;
}

.rowed-button-title {
  display: flex;

  margin-top: 20px;
  margin-bottom: 30px;

  justify-content: flex-start;
  align-items: center;
  .button {
    margin-right: 20px;
  }
  h1 {
    margin-bottom: 0;
  }
}
