// File for scss-vars.
// For example: main colors, paddings and so on.
$white: #fff;
$black: #000;
$light-gray: #f3f5f9;
$shuttle-gray: #555f6e;
$mako: #414852;
$green: #7bc22c;
$blue: #2d7baf;
$geyser: #dbe1e8;
$light-blue: #2f9ce5;