.footer {
  margin-top: 40px;
  padding: 15px 0;

  background-color: $mako;

  flex: 0 0 auto;
  &._inside {
    margin-top: 0;
  }
  &__wrapper {
    @extend .wrapper;
  }
  &__logo {
    @extend .header__logo;
  }
}
