mixin advantages(data)
  .advantages
    .advantages__title Наши преимущества

    .advantages__list
      .advantages-item
        .advantages-item__icon._money
        .advantages-item__title Платим <strong>от 50 руб за 1000 символов</strong> без пробелов

      .advantages-item
        .advantages-item__icon._stat
        .advantages-item__title Ваша <strong>ставка увеличиваться</strong> в зависимости от качества вашей работы

      .advantages-item
        .advantages-item__icon._wallet
        .advantages-item__title <strong>Деньги сразу</strong> - Вам не нужно выставлять статьи на продажи и ждать пока их купят

      .advantages-item
        .advantages-item__icon._char
        .advantages-item__title <strong>Неограниченные возможности заработка</strong> - чем больше пишите, тем больше зарабатываете

      .advantages-item
        .advantages-item__icon._list
        .advantages-item__title <strong>Удобно работать</strong> - мы предоставляем четкие требования к каждому заданию

      .advantages-item
        .advantages-item__icon._tie
        .advantages-item__title <strong>Карьерный рост</strong> - лучшие из копирайтеров могут стать редакторами, с хорошей зарплатой

