mixin header-user(data)
  - var modiffer = attributes.class || ''
  header.header(class="#{modiffer}")
    .header__wrapper
      .header__logo Truetext
      +menu-user
      +logined-user

mixin header-admin(data)
  - var modiffer = attributes.class || ''
  header.header(class="#{modiffer}")
    .header__wrapper
      .header__logo
      +menu-admin
      +logined-admin

mixin header-semantist(data)
  - var modiffer = attributes.class || ''
  header.header(class="#{modiffer}")
    .header__wrapper
      .header__logo Truetext
      +menu-semantist
      +logined-semantist