mixin rules-list(data)
  .rules-list
    h1 Правила

    .rules-list-item.jsOpen
      .rules-list-item__title Как получить заработанные деньги?
      .rules-list-item__text.jsOpenContent Нет, текст не потеряется, будьте спокойны. Все содержимое редактора (не только текст статьи, но и заголовки, описание, ключевые слова) раз в 30 секунд сохраняются в локальное хранилище вашего браузера. Это значит, что вы в любой момент времени можете закрыть вкладку с редактором, открыть ее снова и перед вами будет последнее сохраненное состояние работы. Так что не волнуйтесь об этом.

    .rules-list-item.jsOpen
      .rules-list-item__title Какой срок на выполнение работ?
      .rules-list-item__text.jsOpenContent Нет, текст не потеряется, будьте спокойны. Все содержимое редактора (не только текст статьи, но и заголовки, описание, ключевые слова) раз в 30 секунд сохраняются в локальное хранилище вашего браузера. Это значит, что вы в любой момент времени можете закрыть вкладку с редактором, открыть ее снова и перед вами будет последнее сохраненное состояние работы. Так что не волнуйтесь об этом.

    .rules-list-item.jsOpen
      .rules-list-item__title Можно ли продлить срок выполнения?
      .rules-list-item__text.jsOpenContent Нет, текст не потеряется, будьте спокойны. Все содержимое редактора (не только текст статьи, но и заголовки, описание, ключевые слова) раз в 30 секунд сохраняются в локальное хранилище вашего браузера. Это значит, что вы в любой момент времени можете закрыть вкладку с редактором, открыть ее снова и перед вами будет последнее сохраненное состояние работы. Так что не волнуйтесь об этом.

    .rules-list-item.jsOpen
      .rules-list-item__title Статьи какого объема требуется написать?
      .rules-list-item__text.jsOpenContent Нет, текст не потеряется, будьте спокойны. Все содержимое редактора (не только текст статьи, но и заголовки, описание, ключевые слова) раз в 30 секунд сохраняются в локальное хранилище вашего браузера. Это значит, что вы в любой момент времени можете закрыть вкладку с редактором, открыть ее снова и перед вами будет последнее сохраненное состояние работы. Так что не волнуйтесь об этом.

    .rules-list-item.jsOpen
      .rules-list-item__title Статьи какого объема требуется написать?
      .rules-list-item__text.jsOpenContent Нет, текст не потеряется, будьте спокойны. Все содержимое редактора (не только текст статьи, но и заголовки, описание, ключевые слова) раз в 30 секунд сохраняются в локальное хранилище вашего браузера. Это значит, что вы в любой момент времени можете закрыть вкладку с редактором, открыть ее снова и перед вами будет последнее сохраненное состояние работы. Так что не волнуйтесь об этом.