mixin news-list(data)
  .news-list
    h1 Новости

    .news-list-item._new
      .news-list-item__title От Антарктиды откололся айсберг размером с город
      .news-list-item__date 23.10.2017 (15:12)
      .news-list-item__text Как и обещали на форуме, сегодня получили небольшую часть средств через более быстрый, но дорогой канал обмена на WMZ (с логинов никакой комиссий дополнительной не удерживали). Всем кто запрашивал досрочные выплаты отправил уже средства в зависимости от балансов логинов от 25% до 100% от всего заработка. Надеемся на Ваше понимание.

    .news-list-item
      .news-list-item__title От Антарктиды откололся айсберг размером с город
      .news-list-item__date 23.10.2017 (15:12)
      .news-list-item__text Как и обещали на форуме, сегодня получили небольшую часть средств через более быстрый, но дорогой канал обмена на WMZ (с логинов никакой комиссий дополнительной не удерживали). Всем кто запрашивал досрочные выплаты отправил уже средства в зависимости от балансов логинов от 25% до 100% от всего заработка. Надеемся на Ваше понимание.

    .news-list-item
      .news-list-item__title От Антарктиды откололся айсберг размером с город
      .news-list-item__date 23.10.2017 (15:12)
      .news-list-item__text Как и обещали на форуме, сегодня получили небольшую часть средств через более быстрый, но дорогой канал обмена на WMZ (с логинов никакой комиссий дополнительной не удерживали). Всем кто запрашивал досрочные выплаты отправил уже средства в зависимости от балансов логинов от 25% до 100% от всего заработка. Надеемся на Ваше понимание.