mixin pagination(data)
  .pagination
    a(href="#" title="").pagination__item._active 1
    a(href="#" title="").pagination__item 2
    a(href="#" title="").pagination__item 3
    a(href="#" title="").pagination__item 4
    a(href="#" title="").pagination__item 5
