mixin logined-user(data)
  .logined
    .logined__avatar
      img(src="http://placehold.it/26x26" alt="")
    .logined__content
      .logined__name Светлана Перова
      .logined__rate 9.5
      .logined__balance 99 999 Р

mixin logined-admin(data)
  .logined
    .logined__avatar
      img(src="http://placehold.it/26x26" alt="")
    .logined__content
      .logined__name Администратор

mixin logined-semantist(data)
  .logined
    .logined__avatar
      img(src="http://placehold.it/26x26" alt="")
    .logined__content
      .logined__name Семантист