.logined {
  display: flex;

  justify-content: space-between;
  align-items: center;
  &__avatar {
    img {
      display: block;

      border-radius: 50%;
    }
  }
  &__content {
    display: flex;

    padding-left: 10px;

    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }
  &__name {
    font-size: 13px;

    width: 100%;

    color: $white;
  }
  &__rate {
    font-size: 11px;

    position: relative;

    margin-right: 10px;

    color: #97a0ad;
    &:before {
      @extend .fa;
      @extend .fa-bar-chart;
    }
  }
  &__balance {
    font-size: 11px;

    color: $green;
  }
}
